@model ShopMarket.Core.ViewModels.UserViewModels.ForgetPasswordViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="container">
    <div class="auth-wrapper">
        <div class="auth-form shadow-around">
            @if (ViewBag.ForgetPassword?.ToString() == "success")
            {
                <div class="alert alert-success">
                    ایمیل بازیابی رمز عبور برای شما ارسال شد. ایمیل خود را چک کنید.
                </div>
            }
            
            <div class="site-logo">
                <a href="#">
                    <img src="/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="auth-form-title">
                بازیابی رمز عبور
            </div>
            <form asp-action="ForgetPassword" asp-controller="Account" asp-area="User" method="post">
                <div class="form-element-row">
                    <label asp-for="Email" class="label-element"></label>
                    <div class="form-element-with-icon">
                        <input asp-for="Email" class="input-element">
                        <i class="fad fa-mailbox"></i>
                    </div>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-element-row text-left">
                    <button type="submit" class="btn-element btn-info-element">
                        <i class="fad fa-sign-in-alt"></i>
                        ارسال ایمیل بازیابی
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Script
{
    <partial name="_ValidationScriptsPartial" />
}
