
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <partial name="_AdminStyles"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    @await RenderSectionAsync("Styles",false)
</head>

<body dir="rtl">
    <div id="app">

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="page-content">
                @RenderBody()
            </div>
        </div>

        <partial name="_AdminPanelSideBar" />
    </div>
    <partial name="_AdminScripts"/>
    @await RenderSectionAsync("Scripts",false)
</body>

</html>