@model List<ShopMarket.Core.ViewModels.ShopViewModels.ProductCommentViewModel>

<div class="tab-pane fade @(ViewData["success"]?.ToString() == null ? "" : "active show")" id="productComments" role="tabpanel" aria-labelledby="productComments-tab">
    <!-- product-review -->
    <div class="product-review-form mb-3">
        <partial name="_InsertComment" model="@ViewData["ProductId"]"/>
        @if (Model.Any())
        {
            <div class="section-title mb-1 mt-4">
                نظرات کاربران (@Model.Count())
            </div>
        }
        <hr>
    </div>
    <div class="comments-list">
        @foreach (var comment in Model)
        {
            <partial name="_Comment" model="comment" />
        }
    </div>
    <!-- end product-review -->
</div>