@using ShopMarket.Core.Utilities
@using ShopMarket.Core.Utilities.Convertors
@model ShopMarket.Core.ViewModels.ShopViewModels.ProductCommentViewModel

<div class="col-lg-6 mb-4">
    <div class="shadow-around p-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <a href="/product/@Model.ProductId" class="font-weight-bold">رفتن به صفحه محصول</a>
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: @(Model.Score * 20)%;"></div>
                </div>
            </div>
        </div>
        
        <div class="d-flex">
            <p class="text-sm text-muted mb-3">
                @Model.Text
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <cite class="text-sm">در تاریخ @Model.CreationDate.ToShamsi()</cite>
            <a href="#" class="btn btn-light btn-sm" onclick="RemoveComment(@Model.CommentId)">
                حذف
                <i class="far fa-trash-alt mr-2"></i>
            </a>
        </div>
    </div>
</div>