@using ShopMarket.Core.Utilities
@model ShopMarket.Core.ViewModels.ShopViewModels.ProductViewModels.LikedProductViewModel


<div class="col-12 mb-4">
    <div class="product-list-section">
        <div class="product-thumbnail">
            <a href="/product/@Model.ProductId/@Model.Slug">
                <img src="@(Directories.GetProductImage(Model.MainImageName,Model.ProductId))" alt="product title">
            </a>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a href="/product/@Model.ProductId/@Model.Slug">
                    @Model.Title
                </a>
            </div>
            <div class="text-danger">
                @Model.Price
                <span class="text-sm">تومان</span>
            </div>
            <button class="remove-item" onclick="AddToWishlist(@Model.LikedId)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </div>
</div>