@model IEnumerable<ShopMarket.Core.ViewModels.ShopViewModels.OrderViewModels.CartItemViewModel>


<div class="user-item cart-list" id="cart-preview">
    <a asp-area="" asp-controller="Order" asp-action="ShowOrder">
        <i class="fal fa-shopping-basket"></i>
        <span class="bag-items-number">@Model.Count()</span>
    </a>
    @if (Model.Any())
    {
        <ul>
            <li class="cart-items">
                <ul class="do-nice-scroll" >
                    @foreach (var item in Model)
                    {
                        <partial name="Layot Contents/_CartItem" model="item"/>
                    }
                </ul>
            </li>
            <li class="cart-footer">
                <span class="d-block text-center mb-3">
                    مبلغ کل:
                    <span class="total">@ViewBag.TotalPrice?.ToString("N0") تومان</span>
                </span>
                <span class="d-block text-center px-2">
                    <a asp-area="" asp-controller="Order" asp-action="ShowOrder" class="btn-cart">
                        مشاهده سبد خرید
                        <i class="mi mi-ShoppingCart"></i>
                    </a>
                </span>
            </li> 
        </ul>
    }
</div>