@using ShopMarket.Core.Utilities
@model IEnumerable<ShopMarket.Domain.ShopEntities.Banner>

<div class="col-lg-4">
    <div class="row">
        @foreach (var banner in Model.Skip((int)ViewBag.Skip).Take(2))
        {
            <div class="col-lg-12 col-sm-6 col-12">
                <div class="banner mb-3">
                    <a href="@(banner.BannerLink)">
                        <img src="@Directories.GetBannerImage(banner.BannerImage)" alt="banner">
                    </a>
                </div>
            </div>
        }
    </div>
</div>