@model int

<div class="user-item" id="user-Likes">
    <a asp-area="User" asp-controller="Home" asp-action="UserLikes">
        <i class="fal fa-heart"></i>
        <span class="bag-items-number">@Model</span>
    </a>
</div>