@using ShopMarket.Core.Utilities
@model ShopMarket.Core.ViewModels.UserViewModels.UserViewModel

<div style="padding: 20px">
    <h1> @Model.FullName عزیز !!!</h1>

    <p>
        برای تغییر رمز عبور خود از لینک زیر استفاده کنید
    </p>
    <a href="@($"{Directories.DOMAIN}userpanel/verify-account/{Model.ActiveCode}")" > فعال سازی حساب کاربری</a>

</div>