<footer class="main-footer">
    <div class="back-to-top">
        <div class="back-btn">
            <i class="far fa-chevron-up icon"></i>
            <span>برگشت به بالا</span>
        </div>
    </div>
    <div class="container">
        <div class="services row mb-5">
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/delivery-person.png" alt="">
                    <div class="service-item-body">
                        <h6>تحویل سریع و رایگان</h6>
                        <p>تحویل رایگان کالا برای کلیه سفارشات بیش از 500 هزار تومان</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/recieve.png" alt="">
                    <div class="service-item-body">
                        <h6>۷ روز ضمانت بازگشت</h6>
                        <p>در صورت نارضایتی به هر دلیلی می توانید محصول را بازگردانید</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/headset.png" alt="">
                    <div class="service-item-body">
                        <h6>پشتیبانی ۲۴ ساعته</h6>
                        <p>در صورت وجود هرگونه سوال یا ابهامی، با ما در تماس باشید</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/debit-card.png" alt="">
                    <div class="service-item-body">
                        <h6>پرداخت آنلاین ایمن</h6>
                        <p>محصولات مدنظر خود را با خیال آسوده به صورت آنلاین خریداری کنید</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 col-sm-6">
                @await Component.InvokeAsync("CategoriesForFooter")
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links">
                    <h2 class="widget-title">خدمات مشتریان</h2>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="widget-list-link">تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-newsletter">
                    <h2 class="widget-title">خبرنامه:</h2>
                    <div class="newsletter">
                        <form asp-area="" asp-controller="Home" asp-action="Subscribe" class="newsletterform">
                            <div class="form-group">
                                <input type="email" placeholder="آدرس ایمیل خود را وارد نمایید">
                                <button type="submit">ارسال</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="logo-area">
                    <a href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="widget widget-links mb-2">
                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                        <li class="widget-list-item ml-4">
                            <a href="/" class="widget-list-link">صفحه اصلی</a>
                        </li>
                        <li class="widget-list-item ml-4">
                            <a href="/home/search" class="widget-list-link">فروشگاه</a>
                        </li>
                        <li class="widget-list-item ml-4">
                            <a href="/user" class="widget-list-link">پنل کاربری</a>
                        </li>
                        <li class="widget-list-item ml-4">
                            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="widget-list-link">تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="copy-right" dir="ltr">
                    <p>© این وبسایت توسط سجاد میرشبی راه اندازی شده است</p>
                </div>
            </div>
        </div>
    </div>
</footer>