<div class="page-loader">
    <div class="page-loader-content">
        <div class="logo-area">
            <img src="/images/logo.png" alt="">
        </div>
        <span class="loader"></span>
    </div>
</div>